h4 {
    color: #177781;
    padding-bottom: 0.5rem;
    padding-top: 0.8rem;
}
.col-sm-9{
    margin-bottom: 0.6rem;
}
.p1{
    margin-top: -1.5rem;
    margin-bottom:-0.1rem;
}
.p2{
    font-size: 15px;
}
h6 {
    font-size:12px;
    font-weight: bolder;
    margin-bottom: -0.2rem;
}
.btn{
    color: #177681;
    background-color: #39aebb5d;
}
.caixa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.custom-control-label{
    color: #177781;
}
